index.html
<head><link rel="stylesheet" type="text/css" href="src/stylesheets/main.css"/></head><body class="container"><header class="header"><h1>Quotes generator</h1><button class="button" id="generate" type="button">Get new quote</button></header><main class="main"></main><script src="dist/main.js">	</script></body>

src/index.pug
head
	link(rel='stylesheet' type='text/css' href='src/stylesheets/main.css')
body.container
	header.header
		h1 Quotes generator
		button#generate(type='button').button Get new quote
	main.main
	script(src='dist/main.js') 	
